log to syslog as "fastd-{{ site.code }}" level debug;
interface "mvpn-{{ site.code }}";
method "salsa2012+umac";    # since fastd v15
method "salsa2012+gmac";
method "xsalsa20-poly1305"; # deprecated
bind any:{{ site.mesh_vpn.port }};
hide ip addresses yes;
hide mac addresses yes;
{# Default to verify #}
{% set verify=True %}
{# Overwrite verification state with definition from group vars #}
{% if site.mesh_vpn.verify is defined %}
{% set verify=site.mesh_vpn.verify %}
{% endif %}
{# Overwrite verification state with definition from host vars #}
{% if mesh_vpn.verify is defined %}
{% set verify=mesh_vpn.verify %}
{% endif %}
{% if not verify %}
on verify "true";
{% endif %}
secret "{{ mesh_vpn.key.private }}";
{% if mesh_vpn.key.public is defined %}
#public: {{ mesh_vpn.key.public }}
{% endif %}
mtu {{ site.mesh_vpn.mtu }};
status socket "/var/run/fastd-status.{{ site.code }}.sock";
include peers from "peers";
{% if site.mesh_vpn.peer_limit is defined %}
peer limit {{ site.mesh_vpn.peer_limit }};
{% endif %}
on up "
 /usr/sbin/batctl -m bat-{{ site.code }} if add $INTERFACE
 ip link set up dev $INTERFACE
";
