router id {{ interface.mesh_bridge.address.ipv4 | ipaddr('address') }};

define asn = {{ site.bgp.as }};

function is_private_ip() {
  return net ~ [
    fc00::/7+,
    fe80::/10+
  ];
}

function is_public_ip() {
  return !is_private_ip();
}

include "/etc/bird/bird6.conf.d/*.conf";
