# Process packages from device br-ffki
ip46tables -A input -i br-{{ site.code }} -j mesh-input
ip6tables -A forward -o br-{{ site.code }} -j ffki-mss-clamp
ip46tables -A forward -i br-{{ site.code }} -j mesh-forward
    
