# local exit via static routes

# No additional routing table this time; this routes should not be propagated

protocol static local_exit {
  table mesh_kernel;
  route {{ interface.wan.gateway.ipv4 | ipaddr("address") }}/32 via "{{ interface.wan.name }}";
  route 0.0.0.0/0 via {{ interface.wan.gateway.ipv4 | ipaddr("address") }};
  export all;
};
