# SNAT all traffic sent out via ffnw to our public ffnw IP address
ip4tables -t nat -A POSTROUTING -s {{ site.mesh.network.ipv4 }} -o ffnw-+ -j SNAT --to-source {{ interface.ffnw.address.ipv4 | ipaddr('address') }}

# SNAT all Layer 3 sites
{# Ugly hack, visit all L3 sites and SNAT them, too #}
{% for hostname in groups['site_l3'] %}
{% set host = hostvars[hostname] %}
ip4tables -t nat -A POSTROUTING -s {{ host.interface.lan.address.ipv4 | ipaddr('0') }} -o ffnw-+ -j SNAT --to-source {{ interface.ffnw.address.ipv4 | ipaddr('address') }}
{% endfor %}
