allow-hotplug bat-{{ name }}
iface bat-{{ name }} inet6 manual
  {% if bridge %}
  pre-up    /sbin/ip link set dev $IFACE master br-{{ bridge }}
  {% endif %}
  pre-up    /usr/sbin/batctl -m $IFACE it 5000
  up        /sbin/ip link set dev $IFACE up
  up        echo 60 > /sys/class/net/${IFACE}/mesh/hop_penalty 
  {% if gateway is defined and gateway %}
  up        /usr/sbin/batctl -m $IFACE gw_mode server  
  {% endif %}
  down      /sbin/ip link set dev $IFACE down
  {% if bridge %}
  post-down /sbin/ip link set dev $IFACE nomaster || true
  {% endif %}
