# Allow Service named
ip46tables -A input -i {{ dns_iface }} -p udp -m udp --dport 53 -j ACCEPT -m comment --comment 'DNS'
ip46tables -A input -i {{ dns_iface }} -p tcp -m tcp --dport 53 -j ACCEPT -m comment --comment 'DNS'
