allow-hotplug bat-{{ site.code }}
auto bat-{{ site.code }}
iface bat-{{ site.code }} inet6 manual
  pre-up    /sbin/ip link add name dummy-{{ site.code }} type dummy || true
  pre-up    /sbin/ip link set address {{ interface.batman.mac }} dev dummy-{{ site.code }}
  pre-up    /sbin/ip link set dev dummy-{{ site.code }} up
  pre-up    /sbin/ip link add name $IFACE type batadv || true
  pre-up    /usr/sbin/batctl -m $IFACE if add dummy-{{ site.code }} || true
  pre-up    /usr/sbin/batctl -m $IFACE it 5000
  pre-up    /usr/sbin/batctl -m $IFACE gw_mode server
  pre-up    /sbin/ip link set $IFACE address {{ interface.batman.mac }}
  up        /sbin/ip link set dev $IFACE up
  up        echo 60 > /sys/class/net/${IFACE}/mesh/hop_penalty
  down      /sbin/ip link set dev $IFACE down
