# BGP peerings with site gateways
{% for peer in site_l3.peers.keys() %}
{% set host = hostvars[peer] %}
{% set ifname = ("wg-" ~ site.code ~ "-" ~ (peer | sha256)) | trunc(15) %}
protocol bgp 'wg_peer_{{ site.code }}_{{ peer }}' from 'wg_peer_{{ site.code }}' {
  source address fe80::2;
  neighbor fe80::1%'{{ ifname }}' as {{ site.bgp.as }};
};

{% endfor %}
