# BGP peerings with external layer 3 sites
{% for peer in gateway_site_l3.peers %}
  {% set host = hostvars[peer] %}
protocol bgp 'bgp_site_l3_{{ site.code }}_{{ peer }}' from 'bgp_site_l3_{{ site.code }}' {
{% if host.interface.wireguard.address.ipv6 | ipaddr('fe80::/10') %}
  neighbor {{ host.interface.wireguard.address.ipv6 | strip_prefixlen }}%'wg-{{ site.code }}' as {{ site.bgp.as }};
{% else %}
  neighbor {{ host.interface.wireguard.address.ipv6 | strip_prefixlen }} as {{ site.bgp.as }};
{% endif %}
};

{% endfor %}
