# BGP peerings with external layer 3 sites
{% for peer in gateway_site_l3.peers.keys() %}
{% set host = hostvars[peer] %}
{% set ifname = ("wg-" ~ site.code ~ "-" ~ (peer | sha256)) | trunc(15) %}
protocol bgp 'bgp_site_l3_{{ site.code }}_{{ peer }}' from 'bgp_site_l3_{{ site.code }}' {
  source address fe80::1;
  neighbor fe80::2%'{{ ifname }}' as {{ site.bgp.as }};
};

{% endfor %}
