# BGP peerings with external layer 3 sites
{% for peer in gateway_site_l3.peers.keys() %}
{% set host = hostvars[peer] %}
protocol bgp 'bgp_site_l3_{{ site.code }}_{{ peer }}' from 'bgp_site_l3_{{ site.code }}' {
{% set ifaddr6 = host.site_l3.peers[inventory_hostname].address.ipv6 %}
  source address {{ gateway_site_l3.peers[peer].address.ipv6 | strip_prefixlen }};
{% if ifaddr6 | ipaddr('fe80::/10') %}
{% set ifname = ("wg-" ~ site.code ~ "-" ~ (peer | sha256)) | trunc(15) %}
  neighbor {{ ifaddr6 | strip_prefixlen }}%'{{ ifname }}' as {{ site.bgp.as }};
{% else %}
  neighbor {{ ifaddr6 | strip_prefixlen }} as {{ site.bgp.as }};
{% endif %}
};

{% endfor %}
