# BGP peerings with site gateways
{% for peer in site_l3.peers.keys() %}
{% set host = hostvars[peer] %}
protocol bgp 'wg_peer_{{ site.code }}_{{ peer }}' from 'wg_peer_{{ site.code }}' {
  source address {{ site_l3.peers[peer].address.ipv4 | strip_prefixlen }};
  neighbor {{ host.gateway_site_l3.peers[inventory_hostname].address.ipv4 | strip_prefixlen }} as {{ site.bgp.as }};
};

{% endfor %}
