{% for peer in wireguard.peers %}
{% set host = hostvars[peer] %}
iface {{ ('wg-' ~ site.code ~ '-' ~ (peer | sha256)) | trunc(15) }} inet manual
  pre-up    ip rule add pref 31020 iif $IFACE lookup mesh
  pre-up    ip rule add pref 31021 iif $IFACE unreachable
  post-down ip rule del pref 31020 iif $IFACE lookup mesh || true
  post-down ip rule del pref 31021 iif $IFACE unreachable || true
  pre-up    ip rule add pref 31020 to {{ host.interface.lan.address.ipv4 | ipaddr('0') }} lookup mesh || true
  pre-up    ip rule add pref 31021 to {{ host.interface.lan.address.ipv4 | ipaddr('0') }} unreachable || true
  post-down ip rule del pref 31020 to {{ host.interface.lan.address.ipv4 | ipaddr('0') }} lookup mesh || true
  post-down ip rule del pref 31021 to {{ host.interface.lan.address.ipv4 | ipaddr('0') }} unreachable || true
{% endfor %}
