auto {{ wg_iface }}
iface {{ wg_iface }} inet manual
  pre-up    ip link add $IFACE type wireguard || true
  pre-up    wg set $IFACE listen-port {{ wg_local_port }} private-key {{ wg_key }}
  pre-up    ip addr add {{ wg_ifaddr4 }} dev $IFACE || true
{% set host = hostvars[wg_peer] %}
{% if wireguard_alias is defined %}
{% set host_wg = host[wireguard_alias] %}
{% else %}
{% set host_wg = host.wireguard %}
{% endif %}
{% set endpoint = host.interface.wan.address.ipv4 %}
{% if host.interface.wan.address.nat is defined %}
{% set endpoint = host.interface.wan.address.nat %}
{% endif %}
{% if host_wg.endpoint is defined %}
{% set endpoint = host_wg.endpoint %}
{% endif %}
  pre-up    wg set $IFACE peer {{ host_wg.key.public }} allowed-ips 0.0.0.0/0 allowed-ips ::/0 {% if (not host_wg.float is defined) or not host_wg.float %}endpoint {{ endpoint | strip_prefixlen }}:{{ wg_remote_port }} {% endif %}persistent-keepalive 10
  post-down wg set $IFACE peer {{ host_wg.key.public }} remove
  up        ip link set $IFACE up
  down      ip link set $IFACE down
  post-down ip addr del {{ wg_ifaddr4 }} dev $IFACE || true

iface {{ wg_iface }} inet6 manual
  pre-up    ip addr add {{ wg_ifaddr6 }} dev $IFACE || true
  post-down ip addr del {{ wg_ifaddr6 }} dev $IFACE || true
