auto {{ wg_iface }}
iface {{ wg_iface }} inet manual
  pre-up    ip link add $IFACE type wireguard || true
  pre-up    wg set $IFACE listen-port {{ wg_local_port }} private-key {{ wg_key }}
{% if wg_addr.ipv4 is defined %}
  pre-up    ip addr add {{ wg_addr.ipv4 }} dev $IFACE || true
{% endif %}
{% set host = hostvars[wg_peer] %}
{% if wireguard_alias is defined %}
{% set host_wg = host[wireguard_alias] %}
{% else %}
{% set host_wg = host.wireguard %}
{% endif %}
{% if host_wg.endpoint is defined %}
{% set endpoint = host_wg.endpoint %}
{% else %}
{% if host.interface.wan.address.ipv6 is defined and interface.wan.address.ipv6 is defined %}
{% set endpoint = host.interface.wan.address.ipv6 %}
{% else %}
{% set endpoint = host.interface.wan.address.ipv4 %}
{% if host.interface.wan.address.nat is defined %}
{% set endpoint = host.interface.wan.address.nat %}
{% endif %}
{% endif %}
{% endif %}
  pre-up    wg set $IFACE peer {{ host_wg.key.public }} allowed-ips 0.0.0.0/0 allowed-ips ::/0 {% if (not host_wg.float is defined) or not host_wg.float %}endpoint {{ endpoint | strip_prefixlen }}:{{ wg_remote_port }} {% endif %}persistent-keepalive 10
  post-down wg set $IFACE peer {{ host_wg.key.public }} remove
{% if wg_p2p_route %}
  pre-up    ip route add {{ host_wg.peers[inventory_hostname].address.ipv4 | strip_prefixlen }}/32 dev $IFACE || true
  post-up   ip route del {{ host_wg.peers[inventory_hostname].address.ipv4 | strip_prefixlen }}/32 dev $IFACE || true
{% endif %}
  up        ip link set $IFACE up
  down      ip link set $IFACE down
{% if wg_addr.ipv4 is defined %}
  post-down ip addr del {{ wg_addr.ipv4 }} dev $IFACE || true
{% endif %}

{% if wg_addr.ipv6 is defined %}
iface {{ wg_iface }} inet6 manual
  pre-up    ip addr add {{ wg_addr.ipv6 }} dev $IFACE || true
  post-down ip addr del {{ wg_addr.ipv6 }} dev $IFACE || true
{% endif %}
