# FFNW ipv4 peering

# One table for each peering partner
table ffnw;

protocol pipe {
  table ffnw;
  peer table mesh_kernel;
  import none;
  export filter {
    if !is_public_ip() then {
      reject;
    }
    preference = 1000;
    accept;
  };
};

protocol static 'ffnw4' {
  table ffnw;
  {% for sitename, _ in ffnw.site.items() %}
  route {{ interface.ffnw.address.ipv4 }} via "ffnw-{{ sitename }}";
  {% endfor %}
  import all;
}

template bgp bgp_ffnw {
  table ffnw;
  local as asn;
  # accept all routes
  import keep filtered;
  import where is_public_ip();
  # export only routes from our subnet
  export where net ~ [ {{ interface.ffnw.address.ipv4 }}+ ];
  direct;
};

# load ffnw peering config
include "/etc/bird/bird4.peers.d/ffnw.conf";

# export ipv4 default route into mesh table
protocol static 'default_nat' {
  table mesh;
  route 0.0.0.0/0 via {{ interface.mesh_bridge.address.ipv4 | ipaddr('address') }};
  import filter {
    preference = 100;
    accept;
  };
};
