{% if dns_listen is string %}
  interface: {{ dns_listen }}
{% else %}
{% for addr in dns_listen %}
  interface: {{ addr }}
{% endfor %}
{% endif %}

{% if dns_acl is string %}
  access-control: {{ dns_acl }} allow
{% else %}
{% for addr in dns_acl %}
  access-control: {{ addr }} allow
{% endfor %}
{% endif %}
  domain-insecure: "{{ dns_tld }}"
