driftfile /var/lib/ntp/ntp.drift

statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

server 127.127.1.0
fudge  127.127.1.0 stratum 10

# Select some low-stratum servers from ntp.org pool
pool 0.debian.pool.ntp.org iburst
pool 1.debian.pool.ntp.org iburst
pool 2.debian.pool.ntp.org iburst
pool 3.debian.pool.ntp.org iburst

# Restrict all incoming connection
restrict -4 default ignore
restrict -6 default ignore

# Local users may interrogate the ntp server more closely.
restrict 127.0.0.1
restrict -6 ::1

# Disable the monlist request as this is associated with ntp
# amplification attacks
disable monitor

restrict {{ site.mesh.network.ipv6 | ipaddr('network') }} mask {{ site.mesh.network.ipv6 | ipaddr('netmask') }} nomodify notrap nopeer
restrict {{ site.mesh.network.ipv4 | ipaddr('network') }} mask {{ site.mesh.network.ipv4 | ipaddr('netmask') }} nomodify notrap nopeer
