table site_l3_{{ site.code }};

protocol pipe {
  table site_l3_{{ site.code }};
  peer table mesh_kernel;
  export where !is_{{ site.code }}() && is_{{ site.code }}_site();
  import all;
};

protocol pipe {
  table site_l3_{{ site.code }};
  peer table mesh;
  export none;
  import all;
};

# Template for peers inside local mesh
template bgp bgp_site_l3_{{ site.code }} {
  table site_l3_{{ site.code }};
  source address {{ interface.wireguard.address.ipv4 | strip_prefixlen }};
  local as asn;
  direct;
  next hop self;
  import all;
  export all;
};

include "/etc/bird/bird4.peers.d/site_l3_{{ site.code }}.conf";
