{% for sitename, _ in ffnw.site.items() %}
{% set ffnw_addr=interface.ffnw.address.ipv4 | ipaddr('address') %}

iface ffnw-{{ sitename }} inet static
  pre-up    /sbin/ip rule del pref 31010 from {{ ffnw_addr }} lookup mesh || true
  pre-up    /sbin/ip rule del pref 31011 to {{ ffnw_addr }} lookup mesh || true
  pre-up   /sbin/ip rule add pref 31010 from {{ ffnw_addr }} lookup mesh
  pre-up   /sbin/ip rule add pref 31011 to {{ ffnw_addr }} lookup mesh
  post-down /sbin/ip rule del pref 31010 from {{ ffnw_addr }} lookup mesh || true
  post-down /sbin/ip rule del pref 31011 to {{ ffnw_addr }} lookup mesh || true
  address {{ peering.ffnw[sitename].transit.local | ipaddr('address') }}
  netmask {{ peering.ffnw[sitename].transit.local | ipaddr('netmask') }}
{% endfor %}
