table bgp_{{ site.code }};

protocol pipe {
  table bgp_{{ site.code }};
  peer table mesh_kernel;
  export all;
  import none;
};

protocol direct {
  table bgp_{{ site.code }};
  interface "{{ interface.lan.name }}";
  export all;
};

template bgp wg_peer_{{ site.code }} {
  table bgp_{{ site.code }};
  local as {{ site.bgp.as }};
  direct;
  next hop self;
  import all;
  export where net ~ [ {{ interface.lan.address.ipv4 | ipaddr('0') }}+ ];
};

include "/etc/bird/bird4.peers.d/{{ site.code }}.conf";
