{% for sitename, site in ffnw.site.items() %}

auto ffnw-{{ sitename }}
iface ffnw-{{ sitename }} inet tunnel
  address fe80::2
  netmask 64
  mode gre
  endpoint {{ site.address.ipv4 }}
  local {{ interface.wan.address.ipv4 | ipaddr('address') }}
  ttl 64

{% endfor %}
