table mesh;

protocol pipe {
  table mesh;
  peer table mesh_kernel;
  export where !is_{{ site.code }}() && gw != router_id;
  import none;
};

# Template for peers inside local mesh
template bgp local_mesh_{{ site.code }} {
  table 'mesh';
  source address {{ interface.mesh_bridge.address.ipv4 | ipaddr('address') }};
  local as asn;
  direct;
  next hop self;
  import all;
  export all;
};

include "/etc/bird/bird4.peers.d/{{ site.code }}.conf";
