# BGP peerings with external layer 3 sites
{% for peer in gateway_site_l3.peers %}
  {% set host = hostvars[peer] %}
protocol bgp 'bgp_site_l3_{{ site.code }}_{{ peer }}' from 'bgp_site_l3_{{ site.code }}' {
  neighbor {{ host.interface.wireguard.address.ipv4 | strip_prefixlen }} as {{ site.bgp.as }};
};

{% endfor %}
