# BGP peerings with external layer 3 sites
{% for peer in gateway_site_l3.peers.keys() %}
{% set host = hostvars[peer] %}
protocol bgp 'bgp_site_l3_{{ site.code }}_{{ peer }}' from 'bgp_site_l3_{{ site.code }}' {
  source address {{ gateway_site_l3.peers[peer].address.ipv4 | strip_prefixlen }};
  neighbor {{ host.site_l3.peers[inventory_hostname].address.ipv4 | strip_prefixlen }} as {{ site.bgp.as }};
};

{% endfor %}
